<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        https://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        https://www.springframework.org/schema/context/spring-context.xsd">
    <!--开启注解的支持-->
    <context:annotation-config/>
    <bean id="hello" class="com.wind.entity.Hello">
        <!-- collaborators and configuration for this bean go here -->
        <property name="str" value="Spring"></property>
    </bean>
    <bean id="hello1" class="com.wind.entity.Hello">
        <constructor-arg index="0" value="Spring1"></constructor-arg>
    </bean>
    <bean id="hello2" class="com.wind.entity.Hello">
        <constructor-arg type="java.lang.String" value="Spring1"></constructor-arg>
    </bean>

    <bean id="address" class="com.wind.entity.Address">
        <property name="address" value="上海"></property>
    </bean>
    <bean id="human" class="com.wind.entity.Human">
        <!--普通字符串注入-->
        <property name="name" value="林容"></property>
        <!--对象注入-->
        <property name="address" ref="address">
        </property>
        <!--数组注入-->
        <property name="books">
            <array>
                <value>红楼梦</value>
                <value>西游记</value>
                <value>水浒传</value>
                <value>三国演义</value>
            </array>
        </property>
        <!--list注入-->
        <property name="hobbies">
            <list>
                <value>see movie</value>
                <value>eat</value>
                <value>travel</value>
            </list>
        </property>
        <!--map注入-->
        <property name="card">
            <map>
                <entry key="shop" value="1"></entry>
                <entry key="see movie" value="2"></entry>
            </map>
        </property>
        <!--set注入-->
        <property name="games">
            <set>
                <value>LOL</value>
                <value>DNF</value>
            </set>
        </property>
        <!--null注入-->
        <property name="wife">
            <null></null>
        </property>
        <property name="info">
            <props>
                <prop key="port">1345</prop>
            </props>
        </property>
    </bean>
</beans>